<!DOCTYPE html>
<html layout:decorate="~{layout}">
<meta charset="UTF-8">
<div layout:fragment="content" class="container my-3">

<!-- 질문 -->
<h2 class="border-bottom py-2" th:text="${question.subject}"></h2>

<div class="card my-3">
	<div class="card-body">
		<div class="card-text" style="white-space:pre-line;" th:text="${question.content}"></div>
		<div class="d-flex justify-content-end">
			<div th:if="${question.modifyDate!=null}" class="badge bg-light text-dark p-2 text-start mx-3">
				<div class="mb-2">수정일 : </div>
				<div th:text="${#temporals.format(question.modifyDate,'yyyy-MM-dd HH:mm')}"></div>
			</div>
		
			<div class="badge bg-light text-dark p-2 text-start">
				<div class="mb-2">
					<span th:if="${question.author!=null}" th:text="${question.author.userName}"></span>
				</div>
			
				<div th:text="${#temporals.format(question.createdDate,'yyyy-MM-dd HH:mm')}"></div>
			</div>
		</div>
		
		<div class="my-3">
			<a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
			th:data-uri="@{|/question/vote/${question.id}|}">추천
			<span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
			</a>
		
			<a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
			sec:authorize="isAuthenticated()" th:if="${question.author!=null and 
			#authentication.getPrincipal().getUsername()==question.author.userName}"
			th:text="수정"></a>
			
			<!-- javascript:void(0);
			 : 클릭할 때 페이지 이동은 없이 경고메시지를 띄우기 위해 의미없는 링크를 걸어줌
			th:data-uri
			 : 버튼을 클릭했을 때 uri를 만들어낸다. 자바스크립트의 명령어를 타임리프가 갖다씀 -->
			<a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
			class="delete btn btn-sm btn-outline-secondary"
			sec:authorize="isAuthenticated()" th:if="${question.author!=null and 
			#authentication.getPrincipal().getUsername()==question.author.userName}"
			th:text="삭제"></a>			
		</div>
	</div>
</div>

	
<!-- 답변 개수 표시 -->
<h5 class="border-bottom my-3 py-2" 
th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
	

<!-- 답변 반복 -->
<div class="card my-3" th:each="answer : ${question.answerList}">
	<div class="card-body">
		<div class="card-text" style="white-space: pre-line;"
		th:text="${answer.content}"></div>
		<div class="d-flex justify-content-end">
		
			<div th:if="${answer.modifyDate!=null}" class="badge bg-light text-dark p-2 text-start mx-3">
				<div class="mb-2">수정일 : </div>
				<div th:text="${#temporals.format(answer.modifyDate,'yyyy-MM-dd HH:mm')}"></div>
			</div>
		
			<div class="badge bg-light text-dark p-2 text-start">
				<div class="mb-2">
					<span th:if="${answer.author!=null}" th:text="${answer.author.userName}"></span>
				</div>
				
				<div th:text="${#temporals.format(answer.createdDate,'yyyy-MM-dd HH:mm')}"></div>
			</div>
		</div>
		
		<div class="my-3">
			<a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
			sec:authorize="isAuthenticated()" th:if="${answer.author!=null and 
			#authentication.getPrincipal().getUsername()==answer.author.userName}"
			th:text="수정"></a>
			
			<a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
			class="delete btn btn-sm btn-outline-secondary"
			sec:authorize="isAuthenticated()" th:if="${answer.author!=null and 
			#authentication.getPrincipal().getUsername()==answer.author.userName}"
			th:text="삭제"></a>	
		</div>

		
	</div>
</div>
<!-- 답변 반복 끝 -->



<form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" 
method="post" class="my-3">
	
	<div th:replace="form_errors :: formErrorsFragment"></div>
	
	<textarea sec:authorize="isAnonymous()" disabled="disabled" rows="10" class="form-control" th:field="*{content}" ></textarea>
	<textarea sec:authorize="isAuthenticated()" rows="10" class="form-control" th:field="*{content}" ></textarea>
	
	<input type="submit" value="답변등록" class="btn btn-primary my-2">
	
</form>

</div>


<script type="text/javascript" layout:fragment="deleteScript">
	
	const deleteBtn = document.getElementsByClassName("delete");
	
	/* delete라는 이름의 클래스를 찾아서 객체를 생성해라
	클래스가 여러개일 수 있기 때문에 배열로 만든다.
	그리고 배열로부터 반복문을 통해서 하나씩 꺼낸다. 
	그리고 그 element를 클릭했을 때 함수를 호출해라*/
	Array.from(deleteBtn).forEach(function(btn){
		
		btn.addEventListener('click',function(){
			
			if(confirm("정말 삭제하시겠습니까?")){
				location.href=this.dataset.uri;
			};
			
		});
		
	});
	
	
	const recommendBtn = document.getElementsByClassName("recommend");
	
	Array.from(recommendBtn).forEach(function(btn){
		
		btn.addEventListener('click',function(){
			
			if(confirm("추천하시겠습니까?")){
				location.href=this.dataset.uri;
			};
			
		});
		
	});

</script>






</html>